@inherits LayoutComponentBase

<nav class="navbar navbar-expand navbar-dark bg-dotnet">
    <a class="navbar-brand" href="/">Designs of .NET</a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse @NavMenuCssClass" id="navbarText">
        <ul class="navbar-nav">
            <NavLink class="nav-link" href="https://github.com/terrajobst/designsof.net">
                <span class="oi oi-code pr-1"></span> Source
            </NavLink>
        </ul>
    </div>
</nav>

<main class="container-fluid mt-3">
    @Body
</main>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}